*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f1ea;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
}

.menu{
    display: flex;
    gap: 40px;
    list-style: none;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 8%;
}

.left{
    width: 50%;
}

.left h1{
    font-size: 48px;
    margin-bottom: 25px;
}

.left p{
    color: gray;
    margin-bottom: 25px;
    width: 80%;
}

.left button{
    padding: 12px 25px;
    background-color: #2f7d4f;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.right{
    width: 45%;
}

img :nth-child(1){
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

 img :nth-child(2){
    width: 48%;
    border-radius: 20px;
}

 img :nth-child(3){
    width: 100%;
    border-radius: 20px;
}